.loading {
    width: 16px;
    height: 16px;
    border: 2px solid #FFF;
    border-top-color: transparent;
    border-radius: 50%;
    animation: loading .7s linear infinite;
}

@keyframes loading {
    to {
        transform: rotate(360deg);
    }
}
